rest:
  - resource: !include ONEBUSAWAY_URL.json
    scan_interval: 30
    sensor:
      - name: "Link API"
        value_template: "{{ value_json.data.list | length }}"

      - name: "Link Positions"
        value_template: >
          {% set data = value_json.data %}
          {%- for trip in data.list -%}
            {%- if not loop.first -%},{%- endif -%}
            {{ (trip.status.distanceAlongTrip / trip.status.totalDistanceAlongTrip) | round(3) }}
          {%- endfor -%}

      - name: "Link Directions"
        value_template: >
          {% set data = value_json.data %}
          {%- for trip in data.list -%}
            {%- for ref_trip in data.references.trips -%}
              {%- if trip.tripId == ref_trip.id -%}
                {%- if not loop.first -%},{%- endif -%}
                {{ ref_trip.directionId }}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}